.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}

.dropdown a {
    text-decoration: none;
}

img {
    max-height: 40px;
    border: 2px solid #ffff;
    border-radius: 50%;
    display: inline;
}